.mainLogin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 15px;
  padding-top: 15px;
  text-align: center;
}

.inputBox {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputBox input {
  width: 100%;
  padding: 5px 5px;
  margin: 0px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputBox button {
  margin: 0px 5px;
}

.inputBox h3 {
  font-size: 1.5vw;
}