.brand-logo {
  font-family: "Knewave", cursive;
  color: black;
  text-decoration: none;
  font-size: xx-large;
}

.signUp {
  font-family: "Knewave", cursive;
  color: black;
  font-size: xx-large;
}

.signIn {
  font-family: "Knewave", cursive;
  color: black;
  font-size: xx-large;
}